<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fingerprint Capture</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: rgb(245, 228, 144);
        }

        .form-container {
            text-align: center;
        }

        #capture-button {
            padding: 10px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h1>Capture Fingerprint</h1>
        <form method="post" action="{{ url_for('verify_fingerprint') }}">
            <!-- Include hidden input field to store fingerprint data -->
            <input type="hidden" name="fingerprint_data" value="CapturedFingerprintData">
            <button type="submit">Verify Fingerprint</button>
        </form>
    </div>
</body>
</html>
